---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Home">
  <section class="margin-48">
    <div class="container">
      <h1>Advice Generator App</h1>
    </div>
  </section>
</DefaultLayout>
